@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

.main {
    background: $black;

    .container {
        padding: 36px 0 150px;

        .main_head {
            display: flex;
            justify-content: space-between;

            .main_title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                & img {
                    height: 28px;
                }
            }

            & img {
                height: 234px;
            }
        }

        .main_wrap {
            display: flex;
            flex-wrap: wrap;

            .case_item {
                margin: 10px auto;
            }
        }
    }    
}  

@media all and (max-width:1280px) {

    .main {

        .container {
            padding: 0 0 110px;

            .main_head {

                & img {
                    height: 200px;
                }
            }
        }
    }
}
@media all and (max-width:1024px) {
    .main {

        .container {
            padding: 10px 0 70px;

            .main_head {

                & img {
                    height: 170px;
                }
            }
        }
    }
}