@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap");
.main {
  background: #1B1B1B; }
  .main .container {
    padding: 36px 0 150px; }
    .main .container .main_head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main .container .main_head .main_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .main .container .main_head .main_title img {
          height: 28px; }
      .main .container .main_head img {
        height: 234px; }
    .main .container .main_wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .main .container .main_wrap .case_item {
        margin: 10px auto; }

@media all and (max-width: 1280px) {
  .main .container {
    padding: 0 0 110px; }
    .main .container .main_head img {
      height: 200px; } }
@media all and (max-width: 1024px) {
  .main .container {
    padding: 10px 0 70px; }
    .main .container .main_head img {
      height: 170px; } }
@media all and (max-width: 492px) {
  .main .container {
    padding: 28.5px 0 50px; }
    .main .container .main_head h2 {
      margin: 30px 0; }
    .main .container .main_head img[src*=".png"] {
      display: none; } }
