@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap");
.main {
  background: #1B1B1B; }
  .main .container {
    padding: 54px 0 155px; }
    .main .container .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: #202020;
      border-radius: 10px;
      -webkit-box-shadow: -1px -1px 0px 0px #DA4533;
              box-shadow: -1px -1px 0px 0px #DA4533;
      margin-top: 35px;
      padding: 40px; }
      .main .container .title .title_tekst {
        width: 760px; }
        .main .container .title .title_tekst span {
          margin: 0 25px 8px 0;
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
          opacity: 0.8; }
        .main .container .title .title_tekst p {
          font-weight: 400; }
      .main .container .title img {
        height: 39px;
        -ms-flex-item-align: center;
            align-self: center; }
    .main .container .main_wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 155px; }
      .main .container .main_wrap .about {
        margin-top: 50px;
        width: 700px;
        -ms-flex-item-align: end;
            align-self: flex-end; }
        .main .container .main_wrap .about h3 {
          width: 186px;
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
          border-bottom: 1px solid;
          -o-border-image: linear-gradient(to right, #DA4533, rgba(0, 0, 0, 0));
             border-image: -webkit-gradient(linear, left top, right top, from(#DA4533), to(rgba(0, 0, 0, 0)));
             border-image: linear-gradient(to right, #DA4533, rgba(0, 0, 0, 0));
          border-image-slice: 1;
          padding-bottom: 4px; }
        .main .container .main_wrap .about p {
          margin: 16px 0; }
        .main .container .main_wrap .about img {
          border-radius: 10px; }
        .main .container .main_wrap .about ol {
          margin: 16px 0 16px 18px;
          font-weight: 400; }
        .main .container .main_wrap .about .wrap_img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          margin-bottom: 25px; }
      .main .container .main_wrap .about_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .main .container .main_wrap .about_wrap img[src*="2.jpeg"] {
          border-radius: 10px;
          position: relative;
          top: 96px; }
    .main .container .case_row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .main .container .case_wrap {
      margin: 34px 0 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

@media all and (max-width: 1280px) {
  .main .container {
    padding: 44px 0 115px; }
    .main .container .title {
      padding: 30px; }
    .main .container .main_wrap {
      margin-bottom: 115px; }
      .main .container .main_wrap .about {
        width: 633px; }
      .main .container .main_wrap .about_wrap img[src*="2.jpeg"] {
        top: 180px; }
      .main .container .main_wrap .case_wrap {
        margin: 24px 0 54px; } }
