@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

.main {
    background: $black;

    .container {
        padding: 54px 0 155px;

        .title {
            display: flex;
            justify-content: space-between;
            background: $bgd_box;
            border-radius: 10px;
            box-shadow: -1px -1px 0px 0px $red;
            margin-top: 35px;
            padding: 40px;

            .title_tekst {
                width: 760px;

                & span {
                    margin: 0 25px 8px 0;
                    font-weight: 400;
                    font-size: $fs;
                    color: $white;
                    opacity: 0.8;
                }

                & p {
                    font-weight: 400;
                }
            }

            & img {
                height: 39px;
                align-self: center;
            }
        }

        .main_wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: 155px;

            .about {
                margin-top: 50px;
                width: 700px;
                align-self: flex-end;
    
                & h3 {
                    width: 186px;
                    font-weight: 500;
                    font-size: $fs24;
                    color: $white;
                    border-bottom: 1px solid;
                    border-image: linear-gradient(to right, $red, rgba(0, 0, 0, 0));
                    border-image-slice: 1;
                    padding-bottom: 4px;
                }
    
                & p {
                    margin: 16px 0;
                }
    
                & img {
                    border-radius: 10px;
                }

                & ol {
                    margin: 16px 0 16px 18px;
                    font-weight: 400;
                }

                & .wrap_img {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }
            }

            .about_wrap {
                display: flex;
                justify-content: space-between;

                & img[src*="2.jpeg"] {
                    border-radius: 10px;
                    position: relative;
                    top: 96px;
                }
            }
        }

        .case_row {
            display: flex;
            justify-content: space-between;
        }

        .case_wrap {
            margin: 34px 0 25px;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media all and (max-width:1280px) {

    .main {

        .container {
            padding: 44px 0 115px;

            .title {
                padding: 30px;
            }

            .main_wrap {
                margin-bottom: 115px;

                .about {
                    width: 633px;
                }

                .about_wrap {

                    & img[src*="2.jpeg"] {
                        top: 180px;
                    }
                }

                .case_wrap {
                    margin: 24px 0 54px;
                }
            }
        }
    }
}
