@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    color: $grey;
}

.container {
    width: $xl;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 400;
    font-size: $fs38;
    line-height: 135%;
    color: $white;
    margin-bottom: 16px;
}

.btn_big {
    width: 299px;
    height: 91px;
    border: none;
    background: $red;
    color: $white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    border-radius: 50%;
    margin-right: 42px;
    cursor: pointer;
}

.btn_small {
    width: 135px;
    height: 41px;
    border: solid 1px $red;
    background: $black;
    color: $red;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.btn_small::after {
    content: url($imagepath + 'arrow.svg');
    position: absolute;
    right: -17px;
}

.sliders {
    text-align: center;

    & img {
        margin: 10px;
    } 
}

//header

header {
    background: $black;
    color: $white;
    
    .container {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 29px;
        }

        .consultation {

            a:first-child {
                font-size: $fs18;
                line-height: 22px;
                color: $white;
            }
            a:last-child {
                color: $red;
                margin-left: 20px;
            }
        }

        nav a {
            color: $white;
            margin-left: 30px;
        }
    }
}

// section main

.main {
    background: $black;

    .container {
        padding: 54px 0 155px;

        .breadcrumbs {
            display: flex;

            & img {
                height: 28px;
                margin-right: 15px;
            }

            & p {
                font-weight: 400;
                margin: 0 5px;
            }

            & p::after {
                content: " > ";
            }

            & p:last-child {
                color: $red;
            }

            & p:last-child::after {
                content: "";
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            background: $bgd_box;
            border-radius: 10px;
            box-shadow: -1px -1px 0px 0px $red;
            margin-top: 35px;
            padding: 40px;

            .title_tekst {
                width: 760px;

                & span {
                    margin: 0 25px 8px 0;
                    font-weight: 400;
                    font-size: $fs;
                    color: $white;
                    opacity: 0.8;
                }

                & p {
                    font-weight: 400;
                    margin-bottom: 34px;
                }
            }

            & img {
                height: 39px;
                align-self: center;
            }
        }

        .main_wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: 155px;

            .about {
                margin-top: 50px;
                width: 700px;
                align-self: flex-end;
    
                & h3 {
                    width: 186px;
                    font-weight: 500;
                    font-size: $fs24;
                    color: $white;
                    border-bottom: 1px solid;
                    border-image: linear-gradient(to right, $red, rgba(0, 0, 0, 0));
                    border-image-slice: 1;
                    padding-bottom: 4px;
                }
    
                & p {
                    margin: 16px 0;
                }
    
                & img {
                    border-radius: 10px;
                }

                & ol {
                    margin: 16px 0 16px 18px;
                    font-weight: 400;
                }

                & .wrap_img {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }
            }

            .about_wrap {
                display: flex;
                justify-content: space-between;

                & img[src*="2.jpeg"] {
                    height: 461px;
                    border-radius: 10px;
                    position: relative;
                    top: 96px;
                }
            }
        }

        .case_row {
            display: flex;
            justify-content: space-between;
        }

        .case_wrap {
            margin: 36px 0 25px;
            display: flex;
            justify-content: space-between;

            .case_item {
                width: 598px;
                height: 289px;
                background: $bgd_case_item;
                border-radius: 8px;
                display: flex;
                cursor: pointer;

                .case_logo {
                    width: 289px;
                    height: 289px;
                    background: $bgd_case_logo;
                    border-radius: 8px 0 0 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .case_partner {
                    width: 309px;
                    height: 289px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
            

                    & img {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }

                    .case_partner_name {
                        color: $white_bgd;
                    }

                    .case_partner_task {
                        font-weight: 400;
                        font-size: $fs;
                        line-height: 165%;
                    }
                }
            }
        }
    }
}

// section banner

.banner {
    background: url($imagepath + 'bgd/bgd_red_small.png');
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;

        .banner_text {
            margin: 100px 0;
            width: 600px;

            & p {
                color: $white;
                opacity: 0.75;
            }
    
            .btn_big {
                margin-top: 44px;
                background: $black;
            }
        }

        .banner_img {
            position: relative;
            margin-top: 21px;
        
            & img:first-child {
                height: 305px;
                opacity: 0.2;
                position: absolute;
                top: 86px;
                right: 106px;
            }
    
            & img:last-child {
                filter: drop-shadow(-40px 40px 12px rgba(0, 0, 0, 0.2));
            }
        }
    }
}

// footer

footer {
    background: $black;

    .container {
        padding: 100px 0 50px;

        .footer_title {
            padding-bottom: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid;
            border-image: linear-gradient(to right, $dark_grey, rgba(0, 0, 0, 0));
            border-image-slice: 1;

            & p {
                font-weight: 400;
                font-size: $fs;
                line-height: 165%;
            }

            .footer_logo {
                width: 743px;
                display: flex;

                & img {
                    width: 209px;
                    height: 47px;
                    margin-right: 19px;
                }
            }

            .footer_desk {
                width: 289px;
                color: $white;
            }
        }

        .footer_contacts {
            margin: 50px 0;
            display: flex;
            justify-content: space-between;

            & nav {
                display: flex;
                flex-direction: column;

                & p {
                    font-size: $fs18;
                    color: $dark_grey;
                    margin-bottom: 5px;
                }

                & a {
                    color: $white;
                    margin-top: 15px;
                }
            }
        }

        .footer_row {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: $fs;
            line-height: 165%;

            a {
                color: $white;
            }
        }
    }
}