@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap");
.main {
  background: #1B1B1B; }
  .main .container {
    padding: 0 0 140px; }
    .main .container .main_head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main .container .main_head .main_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .main .container .main_head .main_title img {
          height: 28px; }
      .main .container .main_head img {
        height: 234px; }
    .main .container .main_wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main .container .main_wrap .main_wrap_box {
        width: 598px;
        margin: 10px auto; }
        .main .container .main_wrap .main_wrap_box .box_faq {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          background: #202020;
          padding: 18px 20px;
          border-radius: 8px;
          font-size: 18px;
          cursor: pointer; }
        .main .container .main_wrap .main_wrap_box .answer {
          font-weight: 400;
          margin-top: 4px;
          display: none; }
      .main .container .main_wrap .main_wrap_box:hover .answer {
        display: block; }
      .main .container .main_wrap .main_wrap_box:hover .box_faq {
        background: #5C5C5C; }
        .main .container .main_wrap .main_wrap_box:hover .box_faq p {
          color: #FFFFFF; }

@media all and (max-width: 1280px) {
  .main .container {
    padding: 0 0 70px; }
    .main .container .main_head img {
      height: 200px; }
    .main .container .main_wrap {
      display: block; }
      .main .container .main_wrap .main_wrap_box {
        width: auto; } }
@media all and (max-width: 1024px) {
  .main .container {
    padding: 0 0 70px; }
    .main .container .main_head img {
      height: 150px; }
    .main .container .main_wrap {
      display: block; }
      .main .container .main_wrap .main_wrap_box {
        width: auto; }
        .main .container .main_wrap .main_wrap_box .box_faq {
          font-size: 16px; } }
@media all and (max-width: 492px) {
  .main .container {
    padding: 28.5px 0 50px; }
    .main .container .main_head h2 {
      margin: 30px 0; }
    .main .container .main_head img[src*=".png"] {
      display: none; }
    .main .container .main_wrap .main_wrap_box .box_faq {
      font-size: 14px; }
    .main .container .main_wrap .main_wrap_box .answer {
      font-size: 14px; } }
