@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

.main {
    background: $black;

    .container {
        padding: 0 0 140px;

        .main_head {
            display: flex;
            justify-content: space-between;

            .main_title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                & img {
                    height: 28px;
                } 
            }

            & img {
                height: 234px;
            }
        }

        .main_wrap {
            display: flex;
            justify-content: space-between;

            .main_wrap_box {
                width: 598px;
                margin: 10px auto;

                .box_faq {
                    display: flex;
                    justify-content: space-between;
                    background: $bgd_box;
                    padding: 18px 20px;
                    border-radius: 8px;
                    font-size: $fs18;
                    cursor: pointer;
                }

                .answer {
                    font-weight: 400;
                    margin-top: 4px;
                    display: none;
                }  
            } 

            .main_wrap_box:hover {

                .answer {
                    display:block;
                }
                
                .box_faq { 
                    background: $dark_grey;

                    & p { 
                        color: $white;
                    }
                }
            }
        }
    }
}

@media all and (max-width:1280px) {

    .main {

        .container {
            padding: 0 0 70px;

            .main_head {

                & img {
                    height: 200px;
                }
            }

            .main_wrap {
                display: block;

                .main_wrap_box {
                    width: auto;
                }
            }
        }
    }
}

@media all and (max-width:1024px) {

    .main {

        .container {
            padding: 0 0 70px;

            .main_head {

                & img {
                    height: 150px;
                }
            }

            .main_wrap {
                display: block;

                .main_wrap_box {
                    width: auto;

                    .box_faq {
                        font-size: $fs16;
                    }
                }
            }
        }
    }
}