@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

.main {
    background: $black;

    .container {
        padding: 36px 0 110px;

        .main_head {
            display: flex;
            justify-content: space-between;

            .main_title {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        .main_wrap {
            display: flex;
            flex-wrap: wrap;
            
            .item {
                margin: 15px auto;
            } 
        }
    }
}

@media all and (max-width:1280px) {
    .main {

        .container {
            padding: 20px 0 105px;

            .main_head {

                & img:last-child {
                    height: 210px;
                }
            }

            .main_wrap {

                .item {
                    margin: 10px;
                }
            }
        }
    }
}
