@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap");
.wrap {
  background: #1B1B1B; }
  .wrap .container .head_page {
    display: flex;
    justify-content: space-between; }
    .wrap .container .head_page .title {
      margin-top: 109px; }
      .wrap .container .head_page .title p {
        margin-bottom: 8px; }
      .wrap .container .head_page .title p:last-child {
        font-weight: 400;
        font-size: 18px; }
      .wrap .container .head_page .title h1 {
        font-family: 'STIX Two Text';
        font-size: 55px;
        line-height: 135%;
        color: #FFFFFF;
        margin-bottom: 16px; }
        .wrap .container .head_page .title h1 span {
          font-style: italic; }
      .wrap .container .head_page .title h1::after {
        content: url("../img/quotes2.svg");
        position: relative;
        top: -27px; }
      .wrap .container .head_page .title h1::before {
        content: url("../img/quotes1.svg");
        position: relative;
        top: -27px; }
      .wrap .container .head_page .title .btn {
        display: flex;
        align-items: center;
        margin-top: 40px; }
    .wrap .container .head_page .head_page_img {
      position: relative; }
      .wrap .container .head_page .head_page_img img:first-child {
        height: 280px;
        opacity: 0.1;
        position: absolute;
        bottom: 121px;
        right: 28px; }
      .wrap .container .head_page .head_page_img img:last-child {
        height: 513px;
        filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2)); }
  .wrap .container .contant {
    display: flex;
    margin-top: 206px; }
    .wrap .container .contant .contant_img {
      position: relative; }
      .wrap .container .contant .contant_img img:first-child {
        height: 344px;
        opacity: 0.1;
        position: absolute;
        top: 66px;
        right: 7px; }
      .wrap .container .contant .contant_img img:last-child {
        height: 356px;
        filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2)); }
    .wrap .container .contant .inner {
      padding-left: 38px; }
      .wrap .container .contant .inner .about {
        margin-bottom: 90px; }
        .wrap .container .contant .inner .about .info {
          margin-top: 40px;
          height: 471px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap; }
          .wrap .container .contant .inner .about .info .box {
            width: 392px;
            height: 137px;
            background: #202020;
            box-shadow: -1px -1px 0px 0px #DA4533;
            border-radius: 8px;
            margin: 10px;
            padding: 20px; }
            .wrap .container .contant .inner .about .info .box p {
              font-weight: 400; }
              .wrap .container .contant .inner .about .info .box p span {
                font-family: 'STIX Two Text';
                font-size: 36px;
                line-height: 45px;
                color: #FFFFFF; }
      .wrap .container .contant .inner .partners {
        margin-bottom: 150px; }
        .wrap .container .contant .inner .partners .partners_logo {
          height: 417px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin-top: 40px; }
          .wrap .container .contant .inner .partners .partners_logo .logo {
            width: 392px;
            height: 119px;
            line-height: 119px;
            background: #202020;
            border-radius: 8px;
            margin: 10px;
            display: flex;
            justify-content: center; }
            .wrap .container .contant .inner .partners .partners_logo .logo img {
              opacity: 0.7; }

.services {
  background: url("../img/bgd/bgd_grey_small.png");
  background-size: cover; }
  .services .container {
    padding: 160px 0 155px; }
    .services .container h2 {
      color: #1B1B1B; }
    .services .container .services_text {
      display: flex;
      justify-content: space-between; }
      .services .container .services_text p {
        width: 633px; }
      .services .container .services_text .btn_small {
        background: none; }
    .services .container .services_items {
      display: flex;
      justify-content: space-between;
      margin: 50px auto 25px; }
    .services .container .btn_small.btn_adapt {
      display: none; }

.quiz {
  background: url("../img/bgd/bgd_red_big.png");
  background-size: cover; }
  .quiz .container {
    padding: 160px 0 150px; }
    .quiz .container p {
      color: #FFFFFF;
      opacity: 0.75; }
    .quiz .container h3 {
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 500; }
    .quiz .container .adapt {
      display: flex;
      justify-content: space-between; }
      .quiz .container .adapt .questions {
        background: #1B1B1B;
        margin: 50px 0;
        width: 1041px;
        padding: 40px 40px 35px;
        border-radius: 10px; }
        .quiz .container .adapt .questions .questions_title {
          display: flex;
          justify-content: space-between; }
          .quiz .container .adapt .questions .questions_title .namber {
            font-family: 'STIX Two Text';
            font-size: 36px;
            line-height: 45px;
            color: #FFFFFF; }
        .quiz .container .adapt .questions .questions_wrap {
          margin: 22.5px 0 28.5px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 256px; }
          .quiz .container .adapt .questions .questions_wrap .questions_items {
            background: #262626;
            width: 473px;
            margin: 7.5px;
            padding: 18px 20px; }
            .quiz .container .adapt .questions .questions_wrap .questions_items p {
              opacity: 1;
              color: #F9F9F9; }
          .quiz .container .adapt .questions .questions_wrap .questions_items:hover {
            background: #DA4533;
            cursor: pointer; }
            .quiz .container .adapt .questions .questions_wrap .questions_items:hover p {
              color: #FFFFFF; }
        .quiz .container .adapt .questions .questions_btn {
          display: flex;
          justify-content: space-between; }
          .quiz .container .adapt .questions .questions_btn .btn_small:first-child::after {
            content: ""; }
          .quiz .container .adapt .questions .questions_btn .btn_small:first-child::before {
            content: url("../img/arrow_left.svg");
            position: absolute;
            left: -17px; }
      .quiz .container .adapt .img_wrap {
        position: relative;
        display: none; }
        .quiz .container .adapt .img_wrap img:first-child {
          height: 282px;
          position: relative;
          top: -170px;
          right: 10px; }
        .quiz .container .adapt .img_wrap img:last-child {
          position: absolute;
          top: -226px;
          right: -22px;
          height: 323px;
          filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2)); }
    .quiz .container .quiz_bonus {
      margin-top: 15px;
      display: flex; }
      .quiz .container .quiz_bonus .bonus {
        background: #1B1B1B;
        border-radius: 8px;
        width: 392px;
        height: 131px;
        margin: 10px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .quiz .container .quiz_bonus .bonus p {
          opacity: 1;
          font-size: 18px;
          padding: 15px; }

.case {
  background: #1B1B1B; }
  .case .container {
    padding: 160px 0 155px; }
    .case .container .case_text {
      display: flex;
      justify-content: space-between; }
      .case .container .case_text p {
        width: 707px; }
    .case .container .case_wrap {
      margin: 50px 0 25px;
      display: flex;
      justify-content: space-between; }
    .case .container .btn_small.btn_adapt {
      display: none; }

.team {
  background: url("../img/bgd/bgd_grey_big.png");
  background-size: cover; }
  .team .container {
    padding: 160px 0 142px; }
    .team .container h2 + p {
      width: 707px; }
    .team .container h2 {
      color: #1B1B1B; }
    .team .container .team_content {
      margin: 50px 0 25px;
      display: flex;
      justify-content: space-between; }
      .team .container .team_content .team_item {
        width: 289px; }
        .team .container .team_content .team_item img {
          border-radius: 8px; }
        .team .container .team_content .team_item .team_name {
          color: #1B1B1B;
          font-size: 18px;
          margin-bottom: 5px; }
        .team .container .team_content .team_item .team_function {
          color: #5C5C5C;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%; }
    .team .container .forums {
      margin-top: 65px; }
      .team .container .forums div:last-child {
        border: none; }
      .team .container .forums .forums_title {
        display: flex;
        justify-content: space-between; }
        .team .container .forums .forums_title h3 {
          font-weight: 500;
          font-size: 24px;
          color: #1B1B1B; }
        .team .container .forums .forums_title .forum_title_wrap {
          display: flex; }
          .team .container .forums .forums_title .forum_title_wrap a:first-child {
            color: #5C5C5C; }
          .team .container .forums .forums_title .forum_title_wrap a:last-child {
            color: #DA4533;
            margin-left: 66px; }
      .team .container .forums .forums_info {
        display: flex;
        justify-content: space-between;
        padding: 58px 0;
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, #8C8C8C, rgba(0, 0, 0, 0));
        border-image-slice: 1; }
        .team .container .forums .forums_info p {
          padding: 5px 0; }
        .team .container .forums .forums_info .forums_personal_data {
          display: flex;
          width: 445px; }
          .team .container .forums .forums_info .forums_personal_data img {
            filter: grayscale(100%);
            height: 100px; }
          .team .container .forums .forums_info .forums_personal_data .forums_personal_data_tekst {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px; }
            .team .container .forums .forums_info .forums_personal_data .forums_personal_data_tekst .forums_info_name {
              color: #1B1B1B; }
            .team .container .forums .forums_info .forums_personal_data .forums_personal_data_tekst .forums_info_function {
              font-weight: 400;
              font-size: 14px;
              line-height: 140%;
              color: #5C5C5C; }
        .team .container .forums .forums_info .forums_meeting_when {
          display: flex;
          justify-content: space-between; }
          .team .container .forums .forums_info .forums_meeting_when .forums_meeting, .team .container .forums .forums_info .forums_meeting_when .forums_when {
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .team .container .forums .forums_info .forums_meeting_when .forums_meeting .forums_meeting_title, .team .container .forums .forums_info .forums_meeting_when .forums_meeting .forums_meeting_date, .team .container .forums .forums_info .forums_meeting_when .forums_when .forums_meeting_title, .team .container .forums .forums_info .forums_meeting_when .forums_when .forums_meeting_date {
              font-size: 18px;
              color: #1B1B1B;
              text-align: center; }
            .team .container .forums .forums_info .forums_meeting_when .forums_meeting .forums_meeting_about, .team .container .forums .forums_info .forums_meeting_when .forums_meeting .forums_meeting_time, .team .container .forums .forums_info .forums_meeting_when .forums_when .forums_meeting_about, .team .container .forums .forums_info .forums_meeting_when .forums_when .forums_meeting_time {
              font-weight: 400;
              color: #5C5C5C; }
            .team .container .forums .forums_info .forums_meeting_when .forums_meeting .forums_meeting_title, .team .container .forums .forums_info .forums_meeting_when .forums_when .forums_meeting_title {
              border-bottom: 1px solid;
              border-image: linear-gradient(to right, #DA4533, rgba(0, 0, 0, 0));
              border-image-slice: 1; }
          .team .container .forums .forums_info .forums_meeting_when .forums_meeting {
            width: 495px; }
          .team .container .forums .forums_info .forums_meeting_when .forums_when {
            width: 197px;
            align-items: center;
            width: 146px; }

@media all and (max-width: 1280px) {
  .wrap .container .head_page .title p {
    max-width: 456px; }
  .wrap .container .head_page .title h1 {
    font-size: 48px; }
  .wrap .container .head_page .head_page_img img:first-child {
    height: 246px;
    bottom: 67px;
    right: 23px; }
  .wrap .container .head_page .head_page_img img:last-child {
    height: 444px;
    position: relative;
    bottom: -78px; }
  .wrap .container .contant {
    margin-top: 125px; }
    .wrap .container .contant .contant_img img:first-child {
      height: 273px;
      top: 73px;
      right: 0; }
    .wrap .container .contant .contant_img img:last-child {
      height: 284px; }
    .wrap .container .contant .inner {
      padding-left: 32px; }
      .wrap .container .contant .inner .about .info {
        margin-top: 30px; }
        .wrap .container .contant .inner .about .info .box {
          width: 307px; }
      .wrap .container .contant .inner .partners {
        margin-bottom: 110px; }
        .wrap .container .contant .inner .partners .partners_logo {
          margin-top: 30px; }
          .wrap .container .contant .inner .partners .partners_logo .logo {
            width: 306px;
            height: 93px; }

  .services .container {
    padding: 120px 0 115px; }
    .services .container .services_items {
      margin-top: 40px; }

  .quiz .container {
    padding: 120px 0 120px;
    position: relative; }
    .quiz .container h2, .quiz .container h3, .quiz .container p {
      display: none; }
    .quiz .container .adapt .questions {
      margin: 0;
      width: 633px; }
      .quiz .container .adapt .questions h3, .quiz .container .adapt .questions p {
        display: inline-block; }
      .quiz .container .adapt .questions .questions_wrap {
        display: block;
        height: fit-content; }
        .quiz .container .adapt .questions .questions_wrap .questions_items {
          margin: 7.5px auto; }
    .quiz .container .adapt .img_wrap {
      display: block; }
    .quiz .container .quiz_bonus {
      margin-top: 35px; }
      .quiz .container .quiz_bonus .bonus {
        width: 633px;
        margin: 0; }
        .quiz .container .quiz_bonus .bonus p {
          display: inline; }
      .quiz .container .quiz_bonus .bonus:last-child {
        display: none; }

  .case .container {
    padding: 120px 0 115px; }
    .case .container .case_wrap {
      margin-top: 40px; }

  .team .container {
    padding: 120px 0 92px; }
    .team .container .team_content {
      margin: 30px 0 35px; }
      .team .container .team_content .team_item {
        width: 307px; }
    .team .container .forums {
      margin-top: 35px; }
      .team .container .forums .forums_info {
        padding: 44px 0; }
        .team .container .forums .forums_info .forums_when {
          background: url("../img/bgd_circle.svg") center/115px no-repeat, url("../img/arrow.svg") center right no-repeat; } }
@media all and (max-width: 1024px) {
  .wrap .container {
    padding: 67px 0 70px; }
    .wrap .container .head_page {
      display: block;
      text-align: center; }
      .wrap .container .head_page .title {
        margin: 0; }
        .wrap .container .head_page .title p {
          margin: 0; }
        .wrap .container .head_page .title p:last-child {
          font-size: 16px; }
        .wrap .container .head_page .title h1 {
          font-size: 44px;
          margin-bottom: 10px; }
        .wrap .container .head_page .title .btn {
          flex-direction: column;
          margin-top: 20px; }
          .wrap .container .head_page .title .btn .btn_big {
            margin-bottom: 15px; }
      .wrap .container .head_page .head_page_img {
        display: none; }
    .wrap .container .contant {
      display: block;
      margin-top: 75px; }
      .wrap .container .contant .contant_img {
        display: none; }
      .wrap .container .contant .inner {
        padding: 0; }
        .wrap .container .contant .inner .about {
          margin-bottom: 70px; }
          .wrap .container .contant .inner .about .info {
            margin-top: 30px;
            height: 477px; }
            .wrap .container .contant .inner .about .info .box {
              width: 210px;
              height: 139px;
              padding: 15px; }
              .wrap .container .contant .inner .about .info .box p {
                font-size: 14px;
                line-height: 165%; }
                .wrap .container .contant .inner .about .info .box p span {
                  font-size: 28px;
                  line-height: 35px; }
        .wrap .container .contant .inner .partners {
          margin: 0; }
          .wrap .container .contant .inner .partners .partners_logo {
            display: block;
            height: auto; }
            .wrap .container .contant .inner .partners .partners_logo .logo {
              height: 108px;
              width: 100%;
              vertical-align: middle; }
              .wrap .container .contant .inner .partners .partners_logo .logo img {
                width: 41%; }

  .services .container {
    padding: 80px 0 75px;
    display: flex;
    flex-direction: column; }
    .services .container h2 {
      margin-bottom: 19px; }
    .services .container .services_text {
      display: block; }
      .services .container .services_text p {
        width: 480px; }
      .services .container .services_text .btn_small {
        display: none; }
    .services .container .services_items {
      margin: 40px auto 25px; }
    .services .container .btn_small.btn_adapt {
      margin-top: 30px;
      display: block;
      background: none;
      align-self: center; }

  .quiz .container {
    padding: 80px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .quiz .container h2, .quiz .container h3, .quiz .container p {
      display: none; }
    .quiz .container .adapt .questions {
      margin: 0;
      width: 439px;
      padding: 20px;
      border-radius: 0%; }
      .quiz .container .adapt .questions h3, .quiz .container .adapt .questions p {
        display: inline-block; }
      .quiz .container .adapt .questions .questions_wrap {
        display: block;
        height: fit-content; }
        .quiz .container .adapt .questions .questions_wrap .questions_items {
          margin: 7.5px auto;
          width: 399px; }
    .quiz .container .adapt .img_wrap {
      display: block; }
      .quiz .container .adapt .img_wrap img:first-child {
        height: 125px;
        top: -107px;
        right: 129px; }
      .quiz .container .adapt .img_wrap img:last-child {
        height: 127px;
        top: -139px;
        right: 124px; }
    .quiz .container .quiz_bonus {
      margin-top: 35px; }
      .quiz .container .quiz_bonus .bonus {
        border-radius: 0%;
        width: 439px;
        margin: 0; }
        .quiz .container .quiz_bonus .bonus p {
          display: inline; }
      .quiz .container .quiz_bonus .bonus:last-child {
        display: none; }

  .case .container {
    padding: 80px 0 75px;
    display: flex;
    flex-direction: column; }
    .case .container .case_text p {
      width: 100%; }
    .case .container .case_text .btn_small {
      display: none; }
    .case .container .case_wrap {
      margin: 40px 0 25px; }
    .case .container .btn_small.btn_adapt {
      margin-top: 30px;
      display: block;
      background: none;
      align-self: center; }

  .team .container {
    padding: 80px 0 21px; }
    .team .container h2 + p {
      width: 100%; }
    .team .container .team_content {
      margin: 40px 0 15px; }
      .team .container .team_content .team_item {
        width: 210px; }
        .team .container .team_content .team_item img {
          height: 233px;
          width: 210px; }
    .team .container .forums {
      margin-top: 35px; }
      .team .container .forums .forums_title h3 {
        font-size: 22px; }
      .team .container .forums .forums_title .forum_title_wrap a:last-child {
        margin-left: 26px; }
      .team .container .forums .forums_info {
        display: block;
        padding: 20px 0 31px; }
        .team .container .forums .forums_info .forums_personal_data {
          margin-bottom: 15px; }
        .team .container .forums .forums_info .forums_meeting_when .forums_meeting {
          width: 270px; }
          .team .container .forums .forums_info .forums_meeting_when .forums_meeting .forums_meeting_title {
            text-align: start; } }

/*# sourceMappingURL=styles.css.map */
