@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    color: $grey;
}

.container {
    width: $xl;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 400;
    font-size: $fs38;
    line-height: 135%;
    color: $white;
    margin-bottom: 16px;
}

.btn_big {
    width: 299px;
    height: 91px;
    border: none;
    background: $red;
    color: $white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    border-radius: 50%;
    margin-right: 42px;
    cursor: pointer;
}

.btn_small {
    width: 135px;
    height: 41px;
    border: solid 1px $red;
    background: $black;
    color: $red;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.btn_small::after {
    content: url($imagepath + 'arrow.svg');
    position: absolute;
    right: -17px;
}

.sliders {
    text-align: center;
    cursor: pointer;

    & img {
        margin: 10px;
    } 
}

.breadcrumbs {
    display: flex;

    & img {
        height: 28px;
        margin-right: 15px;
    }

    & a {
        font-weight: 400;
        margin: 0 5px;
        color: $white;
    }

    & a::after {
        content: " > ";
    }

    & a:last-child {
        color: $red;
    }

    & a:last-child::after {
        content: "";
    }
}

.search {
    position: relative;
    margin-bottom: 25px;

    & input {
        width: 100%;
        height: 56px;
        border-radius: 8px;
        border: none;
        background: $bgd_serv;
        padding: 15px;
        font-weight: 400;
    }

    & img {
        position: absolute;
        left: calc(100% - 36px);
        top: 16px;
    }
}

.item {
    width: 289px;
    height: 400px;
    margin: 0 10px;
    background: $bgd_box;
    border-radius: 3%;
    padding: 20px;
    position: relative;
    display: flex !important;
    flex-direction: column;
    cursor: pointer;

    .arrow {
        width: 20px;
        position: relative;
        left: calc(100% - 20px);

        & img:first-child {
            position: absolute;
        }
    }

    .services_img {
        display: block;
        width: 160px;
        margin: 38px auto 0;
    }

    .link {
        margin-top: auto;
    
        & a {
            font-size: $fs18;
            color: $grey;
            display: block;
        }

        & p {
            font-weight: 400;
            font-size: $fs;
            line-height: 165%;
            display: none;
        }
    }
}

.item:hover {

    & img:first-child {
        z-index: -1;
    }

    .services_img {
        width: 130px;
        opacity: 0.7;
    }    

    & a {
        color: $white;
    }
    & p {
        display: inline;
    }
}

.case_item {
    width: 598px;
    height: 289px;
    margin: 0 10px;
    background: $bgd_case_item;
    border-radius: 8px;
    display: flex !important;
    cursor: pointer;

    .case_logo {
        flex-basis: 289px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 289px;
        background: $bgd_case_logo;
        border-radius: 8px 0 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .case_partner {
        height: 289px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;


        & img {
            position: absolute;
            bottom: calc(100% - 38px);
            left: calc(100% - 38px);  
        }

        & a {
            color: $white;
        }

        .case_partner_task {
            font-weight: 400;
            font-size: $fs;
            line-height: 165%;
        }
    }
}

//header

header {
    background: $black;
    color: $white;
    
    .container {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 29px;
            cursor: pointer;
        }

        .consultation {

            a:first-child {
                font-size: $fs18;
                line-height: 22px;
                color: $white;
            }
            a:last-child {
                color: $red;
                margin-left: 20px;
            }
        }

        nav a {
            color: $white;
            margin-left: 30px;
        }

        button {
            border: none;
            background: $bgd_box;
            border-radius: 5px;
            cursor: pointer;
            display: none;

            img {
                height: 46px;
            }
        }  
    }

    #menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100vh;
        background: $black;
        z-index: 1;
        transition: 1s;
        visibility: hidden;

        #close {
            height: 46px;
            position: absolute;
            background: $black;
            top: 20px;
            right: 20px;
            cursor: pointer;
            border-radius: 5px;

        }


        .bgd {
            width: 16%;
            background: $dark_grey;
        }

        .menu_wrap {
            display: flex;

            & p {
                color: $grey;
            }

            & nav {
                display: flex;
                flex-direction: column;

                & a {
                    color: $white;
                }

                & p {
                    color: $dark_grey;
                }
            }


            
        }
    }
}

// section banner

.banner {
    background: url($imagepath + 'bgd/bgd_red_small.png');
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;

        .banner_text {
            margin: 100px 0;
            width: 600px;

            & p {
                color: $white;
                opacity: 0.75;
            }
    
            .btn_big {
                margin-top: 44px;
                background: $black;
            }
        }

        .banner_img {
            position: relative;
            margin-top: 21px;
        
            & img:first-child {
                height: 305px;
                opacity: 0.2;
                position: absolute;
                top: 86px;
                right: 106px;
            }
    
            & img:last-child {
                filter: drop-shadow(-40px 40px 12px rgba(0, 0, 0, 0.2));
            }
        }
    }
}

// footer

footer {
    background: $black;

    .container {
        padding: 100px 0 50px;

        .footer_title {
            padding-bottom: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid;
            border-image: linear-gradient(to right, $dark_grey, rgba(0, 0, 0, 0));
            border-image-slice: 1;

            & p {
                font-weight: 400;
                font-size: $fs;
                line-height: 165%;
            }

            .footer_logo {
                width: 743px;
                display: flex;

                & img {
                    width: 209px;
                    height: 47px;
                    margin-right: 19px;
                }
            }

            .footer_desk {
                width: 289px;
                color: $white;
            }
        }

        .footer_contacts {
            margin: 50px 0;
            display: flex;
            justify-content: space-between;

            & nav {
                display: flex;
                flex-direction: column;

                & p {
                    font-size: $fs18;
                    color: $dark_grey;
                    margin-bottom: 5px;
                }

                & a {
                    color: $white;
                    margin-top: 15px;
                }
            }
        }

        .footer_row {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: $fs;
            line-height: 165%;

            a {
                color: $white;
            }
        }
    }
}

@media all and (max-width:1280px) {

    .container {
        width: $l;
    }

    .item {
        width: 307px;
        height: 425px;
    }

    .case_item {
        width: 470px;
        height: 301px;

        .case_logo {
            flex-basis: 210px;
            height: 301px;
            
            & img {
                height: 26px;
            }
        }

        .case_partner {
            height: 301px;
        }
    }

     //header

    header {

        .container {

            & nav {
                display: none;
            }
    
            & button {
                display: block;
            }
        }
    }

   // section banner
   
   .banner_text {
    margin: 60px 0;
    }

    .banner .container .banner_img {
        & img:first-child {
            height: 242px;
            top: 110px;
        }

        & img:last-child {
            height: 380px;
        }
    }
}

@media all and (max-width:1024px) {

    .container {
        width: $xs;
    }

    h2 {
        font-size: $fs28;
        margin-bottom: 14px;
    }

    .btn_big {
        position: relative;
        margin: 0 auto;
    }

    .btn_big::after {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        border-radius: 50%;
        transform: rotate( -7deg);
    }

    .search {
        margin-bottom: 20px;
    }

    .item {
        width: 210px;
        height: 291px;
        padding: 15px;

        .arrow {
            left: calc(100% - 15px);
        }

        .services_img {
            width: 106px;
            margin: 13px auto 0;
        }

        .link {

            & a {
                font-size: $fs;
                line-height: 165%;
            }

            p {
                display: none;
            }
        }
    }

    .case_item {
        width: 440px;
        height: 248px;

        .case_logo {
            flex-basis: 159px;
            height: 248px;

            & img {
                height: 21px;
            }
        }

        .case_partner {
            height: 248px;
            padding: 15px;

            & img {
                position: absolute;
                bottom: calc(100% - 33px);
                left: calc(100% - 33px);  
            }
        }
    }

    //header

    header {

        .container {

            .consultation {
                display: none;
            }
    
            & nav {
                display: none;
            }
    
            & button {
                display: block;
            }
        }  
    }

    // section banner

    .banner {

        .container  {
            display: block;
            padding: 60px 0;
            text-align: center;
    
            .banner_text {
                margin: 0;
                width: auto;
    
                .btn_big {
                    margin-top: 41px;
                } 
            }
    
            .banner_img {
                display: none;
            }
        }
    }

    // footer

    footer {

        .container {
            padding: 60px 0 30px;

            .footer_title {
                padding-bottom: 40px;
                display: block;

                .footer_logo {
                    width: auto;
                    display: block;

                    & img {
                        margin-bottom: 14px;
                    }

                    & p {
                        margin-bottom: 22px;
                    }
                }

                .footer_desk {
                    display: flex;
                    width: 384px;
                }
            }

            .footer_contacts {
                margin: 0;
                flex-wrap: wrap;

                & nav {
                    margin: 40px 0;
                }

                & nav:last-child {
                    display: none;
                }

                & nav:nth-child(3) {
                    display: block;

                    & p {
                        margin-bottom: 20px;
                    }

                    & a {
                        margin-right: 15px;
                    }
                }
            }

            .footer_row {
                flex-direction: column-reverse;

                & a {
                    margin-bottom: 10px;
                }
            }
        }
    }
}