@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

//section wrap

.wrap {
    background: $black;

    .container {
        
        .head_page {
            display: flex;
            justify-content: space-between;

            .title {
                margin-top: 109px;

                & p {
                    margin-bottom: 8px;
                }

                & p:last-child {
                    font-weight: 400;
                    font-size: $fs18;
                }

                & h1 {
                    font-family: 'STIX Two Text';
                    font-size: $fs55;
                    line-height: 135%;
                    color: $white;
                    margin-bottom: 16px;

                    & span {
                        font-style: italic;
                    }
                }
                & h1::after {
                    content: url($imagepath + 'quotes2.svg');
                    position: relative;
                    top: -27px;
                }
                & h1::before {
                    content: url($imagepath + 'quotes1.svg');
                    position: relative;
                    top: -27px;
                }

                .btn {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;
                }
            }

            .head_page_img {
                position: relative;

                & img:first-child {
                    height: 280px;
                    opacity: 0.1;
                    position: absolute;
                    bottom: 121px;
                    right: 28px;
                }

                & img:last-child {
                    height: 513px;
                    filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2))
                }
            }
        }

        .contant {
            display: flex;
            margin-top: 206px;
        
            .contant_img {
                position: relative;
        
                & img:first-child {
                    height: 344px;
                    opacity: 0.1;
                    position: absolute;
                    top: 66px;
                    right: 7px;
                }
        
                & img:last-child {
                    height: 356px;
                    filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2));
                }
            }

            .inner {
                padding-left: 38px;

                .about {
                    margin-bottom: 90px;

                    .info {
                        margin-top: 40px;
                        height: 471px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .box {
                            width: 392px;
                            height: 137px;
                            background: $bgd_box;
                            box-shadow: -1px -1px 0px 0px $red;
                            border-radius: 8px;
                            margin: 10px;
                            padding: 20px;

                            & p {
                                font-weight: 400;

                                & span {
                                    font-family: 'STIX Two Text';
                                    font-size: $fs36;
                                    line-height: 45px;
                                    color: $white;
                                }
                            }
                        }
                    } 
                }

                .partners {
                    margin-bottom: 150px;

                    .partners_logo {
                        height: 417px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        margin-top: 40px;

                        .logo {
                            width: 392px;
                            height: 119px;
                            line-height: 119px;
                            background: $bgd_box;
                            border-radius: 8px;
                            margin: 10px;
                            display: flex;
                            justify-content: center;

                            & img {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

// section services

.services {
    background: url($imagepath + 'bgd/bgd_grey_small.png');
    background-size: cover;

    .container {
        padding: 160px 0 155px;

        & h2 {
            color: $black;
        }

        .services_text {
            display: flex;
            justify-content: space-between;

            & p{
                width: 633px;
            }

            .btn_small {
                background: none;
            }
        }

        .services_items {
            display: flex;
            justify-content: space-between;
            margin: 50px auto 25px;
        }

        .btn_small.btn_adapt {
            display: none;
        }
    }
}

// section quiz

.quiz {
    background: url($imagepath + 'bgd/bgd_red_big.png');
    background-size: cover;

    .container {
        padding: 160px 0 150px;

        & p {
            color: $white;
            opacity: 0.75;
        }

        & h3 {
            color: $white;
            font-size: $fs24;
            font-weight: 500;
        }

        .adapt {
            display: flex;
            justify-content: space-between;

            .questions {
                background: $black;
                margin: 50px 0;
                width: 1041px;
                padding: 40px 40px 35px;
                border-radius: 10px;
                
    
                .questions_title {
                    display: flex;
                    justify-content: space-between;
    
                    .namber {
                        font-family: 'STIX Two Text';
                        font-size: $fs36;
                        line-height: 45px;
                        color: $white;
                    }
                }
    
                .questions_wrap {
                    margin: 22.5px 0 28.5px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 256px;
    
                    .questions_items {
                        background: $bgd_item;
                        width: 473px;
                        margin: 7.5px;
                        padding: 18px 20px;
    
                        & p {
                            opacity: 1;
                            color: $white_bgd;
                        }
                    }
    
                    .questions_items:hover {
                        background: $red;
                        cursor: pointer;
    
                        & p {
                            color: $white;
                        }
                    }
                }
    
                .questions_btn {
                    display: flex;
                    justify-content: space-between;
    
                    .btn_small:first-child::after {
                        content: "";
                    }
    
                    .btn_small:first-child::before {
                        content: url($imagepath + 'arrow_left.svg');
                        position: absolute;
                        left: -17px;
                    }
                }
            }

            .img_wrap {
                position: relative;
                display: none;
    
                & img:first-child {
                    height: 282px;
                    position: relative;
                    top: -170px;
                    right: 10px;
                }
    
                & img:last-child {
                    position: absolute;
                    top: -226px;
                    right: -22px;
                    height: 323px;
                    filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2))
                }
            }
        }

        .quiz_bonus {
            margin-top: 15px;
            display: flex;

            .bonus {
                background: $black;
                border-radius: 8px;
                width: 392px;
                height: 131px;
                margin: 10px;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                & p {
                    opacity: 1;
                    font-size: $fs18;
                    padding: 15px;
                }
            }
        }
    }
}

// section case

.case {
    background: $black;

    .container {
        padding: 160px 0 155px;

        .case_text {
            display: flex;
            justify-content: space-between;

            & p {
                width: 707px;
            }
        }

        .case_wrap {
            margin: 50px 0 25px;
            display: flex;
            justify-content: space-between;
        }

        .btn_small.btn_adapt {
            display: none;
        }
    }
}

// section team

.team {
    background: url($imagepath + 'bgd/bgd_grey_big.png');
    background-size: cover;

    .container {
        padding: 160px 0 142px;

        h2 + p {
            width: 707px;
        }

        & h2 {
            color: $black;
        }

        .team_content {
            margin: 50px 0 25px;
            display: flex;
            justify-content: space-between;

            .team_item {
                width: 289px;

                & img {
                    border-radius: 8px;
                }
    
                .team_name {
                    color: $black;
                    font-size: $fs18;
                    margin-bottom: 5px;
                }
    
                .team_function {
                    color: $dark_grey;
                    font-weight: 400;
                    font-size: $fs;
                    line-height: 140%;
                }

            }

        }

        .forums {
            margin-top: 65px;

            & div:last-child {
                border: none;
            }

            .forums_title {
                display: flex;
                justify-content: space-between;

                & h3 {
                    font-weight: 500;
                    font-size: $fs24;
                    color: $black;
                }

                .forum_title_wrap {
                    display: flex;

                    & a:first-child {
                        color: $dark_grey;
                    }

                    & a:last-child {
                        color: $red;
                        margin-left: 66px;
                    }
                }
            }

            .forums_info {
                display: flex;
                justify-content: space-between;
                padding: 58px 0;
                border-bottom: 1px solid;
                border-image: linear-gradient(to right, $border, rgba(0, 0, 0, 0));
                border-image-slice: 1;
                
                & p {
                    padding: 5px 0;
                }

                .forums_personal_data {
                    display: flex;
                    width: 445px;

                    & img {
                        filter: grayscale(100%);
                        height: 100px;
                    }

                    .forums_personal_data_tekst {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 15px;

                        .forums_info_name {
                            color: $black;
                        }

                        .forums_info_function {
                            font-weight: 400;
                            font-size: $fs;
                            line-height: 140%;
                            color: $dark_grey;
                        }
                    }
                }

                .forums_meeting_when {
                    display: flex;
                    justify-content: space-between;

                    .forums_meeting, .forums_when {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
    
                        .forums_meeting_title, .forums_meeting_date {
                            font-size: $fs18;
                            color: $black; 
                            text-align: center;
                        }
    
                        .forums_meeting_about, .forums_meeting_time {
                            font-weight: 400;
                            color: $dark_grey;
                        }
    
                        .forums_meeting_title {
                            border-bottom: 1px solid;
                            border-image: linear-gradient(to right, $red, rgba(0, 0, 0, 0));
                            border-image-slice: 1;
                        }
                    }
    
                    .forums_meeting {
                        width: 495px;
                    }
    
                    .forums_when {
                        width: 197px;
                        align-items: center;
                        width: 146px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:1280px) {

    //section wrap

    .wrap {
        .container {
            .head_page {
                .title {
                    p {
                        max-width: 456px;
                    }
                    h1 {
                        font-size: $fs48;
                    }
                }
                .head_page_img {
                    img:first-child {
                        height: 246px;
                        bottom: 67px;
                        right: 23px;
                    }
                    img:last-child {
                        height: 444px;
                        position: relative;
                        bottom: -78px;
                    }
                }
            }
            .contant {
                margin-top: 125px;

                .contant_img {
                    & img:first-child {
                        height: 273px;
                        top: 73px;
                        right: 0;
                    }
            
                    & img:last-child {
                        height: 284px;
                    }
                }

                .inner {
                    padding-left: 32px;
                    
                    .about {

                        .info {
                            margin-top: 30px;

                            .box {
                                width: 307px;
                            }
                        }
                    }

                    .partners {
                        margin-bottom: 110px;

                        .partners_logo {
                            margin-top: 30px;

                            .logo {
                                width: 306px;
                                height: 93px;
                            }
                        }
                    }  
                }
            }
        }
    }

    // section services

    .services {

        .container {
            padding: 120px 0 115px;
    
            .services_items {
                margin-top: 40px;
            }
        }
    }

    // section quiz

    .quiz {

        .container {
            padding: 120px 0 120px;
            position: relative;

            & h2, h3, p {
                display: none;
            }

            .adapt {

                .questions {
                    margin: 0;
                    width: 633px;
    
                    & h3, p {
                        display: inline-block;
                    }
    
                    .questions_wrap {
                        display: block;
                        height: fit-content;
    
                        .questions_items {
                            margin: 7.5px auto;
                        }
                    }
                }

                .img_wrap {
                    display: block;
                }
            }

            .quiz_bonus {
                margin-top: 35px;

                .bonus {
                    width: 633px;
                    margin: 0;

                    & p{
                        display: inline;
                    }
                }

                .bonus:last-child {
                    display: none;
                }
            }
        }
    }

    // section case

    .case {

        .container {
            padding: 120px 0 115px;

            .case_wrap {
                margin-top: 40px;
            }
        }
    }

    // section team

    .team {

        .container {
            padding: 120px 0 92px;

            .team_content {
                margin: 30px 0 35px;

                .team_item {
                    width: 307px;

                }
            }

            .forums {
                margin-top: 35px;

                .forums_info {
                    padding: 44px 0;

                    .forums_when {
                        background: url($imagepath + 'bgd_circle.svg') center / 115px no-repeat, 
                        url($imagepath + 'arrow.svg') center right no-repeat;
                    }
                }
            }
        }
    }
}

@media all and (max-width:1024px) {

    //section wrap

    .wrap {

        .container {
            padding: 67px 0 70px;
    
            .head_page {
                display: block;
                text-align: center;
    
                .title {
                    margin: 0;
    
                    & p {
                        margin: 0;
                    }
    
                    & p:last-child {
                        font-size: $fs16;
                    }
    
                    & h1 {
                        font-size: $fs44;
                        margin-bottom: 10px;
                    }
    
                    .btn {
                        flex-direction: column;
                        margin-top: 20px;
    
                        .btn_big {
                            margin-bottom: 15px;
                        }
                    }
                }
    
                .head_page_img {
                    display: none;
                }
            }
    
            .contant {
                display: block;
                margin-top: 75px;
    
                .contant_img {
                    display: none;
                }
    
                .inner {
                    padding: 0;
    
                    .about {
                        margin-bottom: 70px;
    
                        .info {
                            margin-top: 30px;
                            height: 477px;
    
                            .box {
                                width: 210px;
                                height: 139px;
                                padding: 15px; 
    
                                & p {
                                    font-size: $fs;
                                    line-height: 165%;
    
                                    & span {
                                        font-size: $fs28;
                                        line-height: 35px;
                                    }
                                }
                            }
                        }
                    }
                    .partners {
                        margin: 0;
    
                        .partners_logo {
                            display: block;
                            height: auto;
    
                            .logo {
                                height: 108px;
                                width: 100%;
                                vertical-align: middle;
    
                                & img {
                                    width: 41%;
    
                                }
                            }
                        }
                    }  
                }
            }
        }
    }

    // section services

    .services {

        .container {
            padding: 80px 0 75px;
             display: flex;
             flex-direction: column;

            & h2 {
                margin-bottom: 19px;
            }

            .services_text {
                display: block;

                & p{
                    width: 480px;
                }

                .btn_small {
                    display: none;
                }
            }

            .services_items {
                margin: 40px auto 25px;
            }

            .btn_small.btn_adapt {
                margin-top: 30px;
                display: block;
                background: none;
                align-self: center;
            }
        }
    }

    // section quiz

    .quiz {

        .container {
            padding: 80px 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h2, h3, p {
                display: none;
            }

            .adapt {

                .questions {
                    margin: 0;
                    width: 439px;
                    padding: 20px;
                    border-radius: 0%;
    
                    & h3, p {
                        display: inline-block;
                    }
    
                    .questions_wrap {
                        display: block;
                        height: fit-content;
    
                        .questions_items {
                            margin: 7.5px auto;
                            width: 399px;
                        }
                    }
                }

                .img_wrap {
                    display: block;

                    & img:first-child {
                        height: 125px;
                        top: -107px;
                        right: 129px;
                    }

                    & img:last-child {
                        height: 127px;
                        top: -139px;
                        right: 124px;
                    }
                }
            }

            .quiz_bonus {
                margin-top: 35px;

                .bonus {
                    border-radius: 0%;
                    width: 439px;
                    margin: 0;

                    & p{
                        display: inline;
                    }
                }

                .bonus:last-child {
                    display: none;
                }
            }

        }
    }

    // section case

    .case {

        .container {
            padding: 80px 0 75px;
            display: flex;
            flex-direction: column;

            .case_text {

                & p {
                    width: 100%;
                }

                .btn_small {
                    display: none;
                }
            }

            .case_wrap {
                margin: 40px 0 25px;

            }

            .btn_small.btn_adapt {
                margin-top: 30px;
                display: block;
                background: none;
                align-self: center;
            }
        }
    }

    // section team

    .team {

        .container {
            padding: 80px 0 21px;

            h2 + p {
                width: 100%;
            }

            .team_content {
                margin: 40px 0 15px;

                .team_item {
                    width: 210px;

                    & img {
                        height: 233px;
                        width: 210px;

                    }
                }
            }

            .forums {
                margin-top: 35px;

                .forums_title {
                    
                    & h3 {
                        font-size: $fs22;
                    }
    
                    .forum_title_wrap {

                        & a:last-child {
                            margin-left: 26px;
                        }
                    }
                }
                
                .forums_info {
                    display: block;
                    padding: 20px 0 31px;
                    

                    .forums_personal_data {
                        margin-bottom: 15px;
                    }

                    .forums_meeting_when {

                        .forums_meeting {
                            width: 270px;

                            .forums_meeting_title {
                                text-align: start;
                            }
                        }   
                    }
                }
            }
        }
    }
}