@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    color: $grey;
}

.container {
    width: $xl;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'STIX Two Text';
    font-style: normal;
    font-weight: 400;
    font-size: $fs38;
    line-height: 135%;
    color: $white;
    margin-bottom: 16px;
}

.btn_big {
    width: 299px;
    height: 91px;
    border: none;
    background: $red;
    color: $white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    border-radius: 50%;
    margin-right: 42px;
    cursor: pointer;
}

.btn_small {
    width: 135px;
    height: 41px;
    border: solid 1px $red;
    background: $black;
    color: $red;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: $fs16;
    line-height: 160%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.btn_small::after {
    content: url($imagepath + 'arrow.svg');
    position: absolute;
    right: -17px;
}

.sliders {
    text-align: center;

    & img {
        margin: 10px;
    } 
}

//header

header {
    background: $black;
    color: $white;
    
    .container {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 29px;
        }

        .consultation {
            display: flex;
            align-items: center;
            p {
                font-size: $fs18;
                line-height: 22px;
            }
            a {
                color: $red;
                margin-left: 20px;
            }
        }

        nav a {
            color: $white;
            margin-left: 30px;
        }
    }
}

//section wrap

.wrap {
    background: $black;

    .container {
        
        .head_page {
            display: flex;
            justify-content: space-between;

            .title {
                margin-top: 109px;

                & p {
                    line-height: 160%;
                    margin-bottom: 8px;
                }

                & p:last-child {
                    font-weight: 400;
                    font-size: $fs18;
                }

                & h1 {
                    font-family: 'STIX Two Text';
                    font-size: $fs55;
                    line-height: 135%;
                    color: $white;
                    margin-bottom: 16px;

                    & span {
                        font-style: italic;
                    }
                }
                & h1::after {
                    content: url($imagepath + 'quotes2.svg');
                    position: relative;
                    top: -27px;
                }
                & h1::before {
                    content: url($imagepath + 'quotes1.svg');
                    position: relative;
                    top: -27px;
                }

                .btn {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;
                }
            }

            .head_page_img {
                position: relative;

                & img:first-child {
                    height: 280px;
                    opacity: 0.1;
                    position: absolute;
                    bottom: 121px;
                    right: 28px;
                }

                & img:last-child {
                    height: 513px;
                    filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2))
                }
            }
        }

        .contant {
            display: flex;
            margin-top: 206px;
        
            .contant_img {
                position: relative;
        
                & img:first-child {
                    height: 344px;
                    opacity: 0.1;
                    position: absolute;
                    top: 66px;
                    right: 7px;
                }
        
                & img:last-child {
                    height: 356px;
                    filter: drop-shadow(-60px 60px 12px rgba(0, 0, 0, 0.2));
                }
            }

            .inner {
                padding-left: 48px;

                .about {
                    margin-bottom: 100px;

                    .info {
                        margin-top: 40px;
                        height: 471px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .box {
                            width: 392px;
                            height: 137px;
                            background: $bgd_box;
                            box-shadow: -1px -1px 0px 0px $red;
                            border-radius: 8px;
                            margin: 10px;
                            padding: 20px;

                            & p {
                                font-weight: 400;

                                & span {
                                    font-family: 'STIX Two Text';
                                    font-size: $fs36;
                                    line-height: 45px;
                                    color: $white;
                                }
                            }
                        }
                    } 
                }

                .partners {
                    margin-bottom: 160px;

                    .partners_logo {
                        height: 417px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        margin-top: 50px;

                        .logo {
                            width: 392px;
                            height: 119px;
                            line-height: 119px;
                            background: $bgd_box;
                            border-radius: 8px;
                            margin: 10px;
                            display: flex;
                            justify-content: center;

                            & img {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

// section services

.services {
    background: url($imagepath + 'bgd/bgd_grey_small.png');
    background-size: cover;

    .container {
        padding: 160px 0 155px;

        & h2 {
            color: $black;
        }

        .services_text {
            display: flex;
            justify-content: space-between;

            .btn_small {
                background: none;
            }
        }

        .services_items {
            display: flex;
            margin: 40px auto 15px;

            .item {
                width: 289px;
                height: 400px;
                background: $black;
                border-radius: 3%;
                margin: 10px;
                padding: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                cursor: pointer;

                .arrow {
                    position: relative;
                    left: 232px;

                    & img:first-child {
                        position: absolute;
                    }
                }

                .services_img {
                    display: block;
                    width: 160px;
                    margin: 38px auto 0;
                }

                .link {
                    margin-top: auto;
                
                    & h4 {
                        font-size: $fs18;
                    }
    
                    & p {
                        font-weight: 400;
                        font-size: $fs;
                        line-height: 165%;
                        display: none;
                    }
                }
            }

            .item:hover {

                transition-duration: 1s;
                & img:first-child {
                    z-index: -1;
                }

                .services_img {
                    width: 130px;
                    opacity: 0.7;
                }    

                & h4 {
                    color: $white;
                }
                & p {
                    display: inline;
                }
            }
        }
    }
}

// section quiz

.quiz {
    background: url($imagepath + 'bgd/bgd_red_big.png');
    background-size: cover;

    .container {
        padding: 160px 0 150px;

        & p {
            color: $white;
            opacity: 0.75;
        }

        & h3 {
            color: $white;
            font-size: $fs24;
            font-weight: 500;
        }

        .questions {
            background: $black;
            margin: 50px 0;
            width: 1041px;
            padding: 40px 40px 35px;
            border-radius: 10px;
            

            .questions_title {
                display: flex;
                justify-content: space-between;

                .namber {
                    font-family: 'STIX Two Text';
                    font-size: $fs36;
                    line-height: 45px;
                    color: $white;
                }
            }

            .questions_wrap {
                margin: 22.5px 0 28.5px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 256px;

                .questions_items {
                    background: $bgd_item;
                    width: 473px;
                    margin: 7.5px;
                    padding: 18px 20px;

                    & p {
                        opacity: 1;
                        color: $white_bgd;
                    }
                }

                .questions_items:hover {
                    background: $red;
                    cursor: pointer;

                    & p {
                        color: $white;
                    }
                }
            }

            .questions_btn {
                display: flex;
                justify-content: space-between;

                .btn_small:first-child::after {
                    content: "";
                }

                .btn_small:first-child::before {
                    content: url($imagepath + 'arrow_left.svg');
                    position: absolute;
                    left: -17px;
                }
            }
        }

        .quiz_bonus {
            margin-top: 15px;
            display: flex;

            .bonus {
                background: $black;
                border-radius: 8px;
                width: 392px;
                height: 131px;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                & p {
                    opacity: 1;
                    font-size: $fs18;
                }
            }
        }
    }
}

// section case

.case {
    background: $black;

    .container {
        padding: 160px 0 155px;

        .case_text {
            display: flex;
            justify-content: space-between;
        }

        .case_wrap {
            margin: 50px 0 25px;
            display: flex;
            justify-content: space-between;

            .case_item {
                width: 598px;
                height: 289px;
                background: $bgd_case_item;
                border-radius: 8px;
                display: flex;

                .case_logo {
                    width: 289px;
                    height: 289px;
                    background: $bgd_case_logo;
                    border-radius: 8px 0 0 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .case_partner {
                    width: 309px;
                    height: 289px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
            

                    & img {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }

                    .case_partner_name {
                        color: $white_bgd;
                    }

                    .case_partner_task {
                        font-weight: 400;
                        font-size: $fs;
                        line-height: 165%;
                    }
                }

            }

        }

    }
}

//section team

.team {
    background: url($imagepath + 'bgd/bgd_grey_big.png');
    background-size: cover;

    .container {
        padding: 160px 0 142px;

        & h2 {
            color: $black;
        }

        .team_content {
            margin: 50px 0 35px;
            display: flex;
            justify-content: space-between;

            .team_item {
                width: 289px;

                & img {
                    border-radius: 8px;
                }
    
                .team_name {
                    color: $black;
                    font-size: $fs18;
                    margin-bottom: 5px;
                }
    
                .team_function {
                    color: $dark_grey;
                    font-weight: 400;
                    font-size: $fs;
                    line-height: 140%;
                }

            }

        }

        .forums {
            margin-top: 65px;

            .forums_title {
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;

                & h3 {
                    font-weight: 500;
                    font-size: $fs24;
                    color: $black;
                }

                .forum_title_wrap {
                    display: flex;

                    & a:first-child {
                        color: $dark_grey;
                    }

                    & a:last-child {
                        color: $red;
                        margin-left: 66px;
                    }
                }
            }

            .forums_info {
                display: flex;
                justify-content: space-between;
                margin: 58px 0 58px;

                .forums_personal_data {
                    display: flex;

                    & img {
                        filter: grayscale(100%);
                    }

                    .forums_personal_data_tekst {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 15px;

                        .forums_info_name {
                            color: $black;
                        }

                        .forums_info_function {
                            font-weight: 400;
                            font-size: $fs;
                            line-height: 140%;
                            color: $dark_grey;
                        }
                    }
                }

                .forums_meeting {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .forums_meeting_title {
                        font-size: $fs18;
                        color: $black;
                        border-bottom: 1px solid $red;
                        border-image: linear-gradient(to right, $red 100%, $red 0%);
                        border-image-slice: 1;
                    }

                    .forums_meeting_about {
                        font-weight: 400;
                        color: $dark_grey;
                    }
                }

                .forums_meeting:first-child {
                    width: 200px;
                }


            }
        }
    }
}

