@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap");
.main {
  background: #1B1B1B; }
  .main .container {
    padding: 54px 0 155px; }
    .main .container .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: #202020;
      border-radius: 10px;
      -webkit-box-shadow: -1px -1px 0px 0px #DA4533;
              box-shadow: -1px -1px 0px 0px #DA4533;
      margin-top: 35px;
      padding: 40px; }
      .main .container .title .title_tekst {
        width: 760px; }
        .main .container .title .title_tekst span {
          margin: 0 25px 8px 0;
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
          opacity: 0.8; }
        .main .container .title .title_tekst p {
          font-weight: 400;
          margin-bottom: 34px; }
      .main .container .title img {
        opacity: 0.6; }
    .main .container .task, .main .container .process, .main .container .service {
      margin-top: 160px; }
      .main .container .task .task_wrap, .main .container .task .process_wrap, .main .container .task .service_wrap, .main .container .process .task_wrap, .main .container .process .process_wrap, .main .container .process .service_wrap, .main .container .service .task_wrap, .main .container .service .process_wrap, .main .container .service .service_wrap {
        margin-top: 34px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .main .container .task .task_wrap .task_item, .main .container .task .process_wrap .task_item, .main .container .task .service_wrap .task_item, .main .container .process .task_wrap .task_item, .main .container .process .process_wrap .task_item, .main .container .process .service_wrap .task_item, .main .container .service .task_wrap .task_item, .main .container .service .process_wrap .task_item, .main .container .service .service_wrap .task_item {
          width: 392px;
          height: 181px;
          background: #202020;
          border-radius: 8px;
          -webkit-box-shadow: -1px -1px 0px 0px #DA4533;
                  box-shadow: -1px -1px 0px 0px #DA4533;
          padding: 20px; }
          .main .container .task .task_wrap .task_item h4, .main .container .task .process_wrap .task_item h4, .main .container .task .service_wrap .task_item h4, .main .container .process .task_wrap .task_item h4, .main .container .process .process_wrap .task_item h4, .main .container .process .service_wrap .task_item h4, .main .container .service .task_wrap .task_item h4, .main .container .service .process_wrap .task_item h4, .main .container .service .service_wrap .task_item h4 {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 5px; }
          .main .container .task .task_wrap .task_item p, .main .container .task .process_wrap .task_item p, .main .container .task .service_wrap .task_item p, .main .container .process .task_wrap .task_item p, .main .container .process .process_wrap .task_item p, .main .container .process .service_wrap .task_item p, .main .container .service .task_wrap .task_item p, .main .container .service .process_wrap .task_item p, .main .container .service .service_wrap .task_item p {
            font-weight: 400; }
        .main .container .task .task_wrap .process_item, .main .container .task .process_wrap .process_item, .main .container .task .service_wrap .process_item, .main .container .process .task_wrap .process_item, .main .container .process .process_wrap .process_item, .main .container .process .service_wrap .process_item, .main .container .service .task_wrap .process_item, .main .container .service .process_wrap .process_item, .main .container .service .service_wrap .process_item {
          width: 392px; }
          .main .container .task .task_wrap .process_item h4, .main .container .task .process_wrap .process_item h4, .main .container .task .service_wrap .process_item h4, .main .container .process .task_wrap .process_item h4, .main .container .process .process_wrap .process_item h4, .main .container .process .service_wrap .process_item h4, .main .container .service .task_wrap .process_item h4, .main .container .service .process_wrap .process_item h4, .main .container .service .service_wrap .process_item h4 {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 11px; }
            .main .container .task .task_wrap .process_item h4 span, .main .container .task .process_wrap .process_item h4 span, .main .container .task .service_wrap .process_item h4 span, .main .container .process .task_wrap .process_item h4 span, .main .container .process .process_wrap .process_item h4 span, .main .container .process .service_wrap .process_item h4 span, .main .container .service .task_wrap .process_item h4 span, .main .container .service .process_wrap .process_item h4 span, .main .container .service .service_wrap .process_item h4 span {
              position: relative;
              bottom: 15px;
              left: 15px; }
          .main .container .task .task_wrap .process_item p, .main .container .task .process_wrap .process_item p, .main .container .task .service_wrap .process_item p, .main .container .process .task_wrap .process_item p, .main .container .process .process_wrap .process_item p, .main .container .process .service_wrap .process_item p, .main .container .service .task_wrap .process_item p, .main .container .service .process_wrap .process_item p, .main .container .service .service_wrap .process_item p {
            font-weight: 400; }
        .main .container .task .task_wrap .process_item:nth-child(1) h4::before, .main .container .task .process_wrap .process_item:nth-child(1) h4::before, .main .container .task .service_wrap .process_item:nth-child(1) h4::before, .main .container .process .task_wrap .process_item:nth-child(1) h4::before, .main .container .process .process_wrap .process_item:nth-child(1) h4::before, .main .container .process .service_wrap .process_item:nth-child(1) h4::before, .main .container .service .task_wrap .process_item:nth-child(1) h4::before, .main .container .service .process_wrap .process_item:nth-child(1) h4::before, .main .container .service .service_wrap .process_item:nth-child(1) h4::before {
          content: url("../img/1.svg"); }
        .main .container .task .task_wrap .process_item:nth-child(2) h4::before, .main .container .task .process_wrap .process_item:nth-child(2) h4::before, .main .container .task .service_wrap .process_item:nth-child(2) h4::before, .main .container .process .task_wrap .process_item:nth-child(2) h4::before, .main .container .process .process_wrap .process_item:nth-child(2) h4::before, .main .container .process .service_wrap .process_item:nth-child(2) h4::before, .main .container .service .task_wrap .process_item:nth-child(2) h4::before, .main .container .service .process_wrap .process_item:nth-child(2) h4::before, .main .container .service .service_wrap .process_item:nth-child(2) h4::before {
          content: url("../img/2.svg"); }
        .main .container .task .task_wrap .process_item:nth-child(3) h4::before, .main .container .task .process_wrap .process_item:nth-child(3) h4::before, .main .container .task .service_wrap .process_item:nth-child(3) h4::before, .main .container .process .task_wrap .process_item:nth-child(3) h4::before, .main .container .process .process_wrap .process_item:nth-child(3) h4::before, .main .container .process .service_wrap .process_item:nth-child(3) h4::before, .main .container .service .task_wrap .process_item:nth-child(3) h4::before, .main .container .service .process_wrap .process_item:nth-child(3) h4::before, .main .container .service .service_wrap .process_item:nth-child(3) h4::before {
          content: url("../img/3.svg"); }
      .main .container .task .service_title, .main .container .process .service_title, .main .container .service .service_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .main .container .sliders {
      margin-top: 35px; }
