@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

.main {
    background: $black;

    .container {
        padding: 54px 0 155px;

        .title {
            display: flex;
            justify-content: space-between;
            background: $bgd_box;
            border-radius: 10px;
            box-shadow: -1px -1px 0px 0px $red;
            margin-top: 35px;
            padding: 40px;

            .title_tekst {
                width: 760px;

                & span {
                    margin: 0 25px 8px 0;
                    font-weight: 400;
                    font-size: $fs;
                    color: $white;
                    opacity: 0.8;
                }

                & p {
                    font-weight: 400;
                    margin-bottom: 34px;
                }
            }

            & img {
                opacity: 0.6;
            }
        }

        .task, .process, .service {
            margin-top: 160px;

            .task_wrap, .process_wrap, .service_wrap {
                margin-top: 34px;
                display: flex;
                justify-content: space-between;

                .task_item {
                    width: 392px;
                    height: 181px;
                    background: $bgd_box;
                    border-radius: 8px;
                    box-shadow: -1px -1px 0px 0px $red;
                    padding: 20px;

                    & h4 {
                        font-weight: 500;
                        font-size: $fs18;
                        color: $white;
                        margin-bottom: 5px;
                    }

                    & p {
                        font-weight: 400;
                    }
                }

                .process_item {
                    width: 392px;

                    & h4 {
                        font-weight: 500;
                        font-size: $fs18;
                        color: $white;
                        margin-bottom: 11px;

                        & span {
                            position: relative;
                            bottom: 15px;
                            left: 15px;
                        }
                    }

                    & p {
                        font-weight: 400;
                    }
                }

                @for $num from 1 through 3 {
                    .process_item:nth-child(#{$num}) h4::before {
                        content: url($imagepath + $num + ".svg");
                    }
                }
            }

            .service_title {
                display: flex;
                justify-content: space-between;
            }
        }

        .sliders {
            margin-top: 25px;
        }

        .btn_small.btn_adapt {
            display: none;
        }
    }
}

@media all and (max-width:1280px) {

    .main {

        .container {
            padding: 44px 0 115px;

            .title {
                padding: 30px;

                .title_tekst {
                    width: 603px;
                }
            }

            .task, .process, .service {
                margin-top: 120px;

                .task_wrap, .process_wrap, .service_wrap {
                    margin-top: 24px;

                    .task_item {
                        width: 307px;
                        height: 204px;
                    }

                    .process_item {
                        width: 308px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:1024px) {

    .main {

        .container {
            padding: 33px 0 75px;
            display: flex;
            flex-direction: column;

            .title {
                display: block;
                padding: 20px;
                text-align: center;

                .title_tekst {
                    width: 100%;

                    & span {
                        margin: 0 0 6px;
                        font-size: 12px;
                    }

                    & p {
                        margin-bottom: 28px;
                    }
                }

                .btn_big::after {
                    display: none;
                }

                & img {
                    display: none;
                }
            }

            .task, .process, .service {
                margin-top: 80px;

                .task_wrap, .process_wrap {
                    margin-top: 6px;
                    display: block;

                    .task_item, .process_item {
                        margin-top: 20px;
                        padding: 15px;
                        width: 100%;
                        height: auto;

                        & h4 {
                            font-size: $fs16;
                        }

                        & p {
                            font-weight: 400;
                            font-size: $fs;
                            line-height: 165%;
                        }
                    }
                }
            }

            .service_title {
                display: block;

                .btn_small {
                    display: none;
                }
            }

            .service_wrap {
                display: flex;
                margin: 16px 0 15px;
            }

            .sliders {
                margin: 0;
            }

            .btn_small.btn_adapt {
                display: block;
                margin-top: 21px;
                align-self: center;
            } 
        }
    }
}

@media all and (max-width:492px) {

    .main {

        .container {
            padding: 28px 0 55px;

            .title {
                padding: 20px 11px;

                .title_tekst {

                    & p {
                        font-size: $fs;
                        line-height: 165%;
                    }
                }

                .btn_big::after {
                    display: inline;
                }
            }

            .task, .process, .service {
                margin-top: 60px;

                .task_wrap, .process_wrap {
                    margin-top: 8px;

                    .task_item, .process_item {
                        margin-top: 15px;
                    }
                }
            }

            .service_wrap {
                display: flex;
                margin: 11px 0 10px;
            }

            .btn_small.btn_adapt {
                margin-top: 26px;
            } 
        }
    }
}
