@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=STIX+Two+Text:ital,wght@0,400;0,500;1,500&display=swap');
@import "viriables";

.main {
    background: $black;

    .container {
        padding: 54px 0 155px;

        .title {
            display: flex;
            justify-content: space-between;
            background: $bgd_box;
            border-radius: 10px;
            box-shadow: -1px -1px 0px 0px $red;
            margin-top: 35px;
            padding: 40px;

            .title_tekst {
                width: 760px;

                & span {
                    margin: 0 25px 8px 0;
                    font-weight: 400;
                    font-size: $fs;
                    color: $white;
                    opacity: 0.8;
                }

                & p {
                    font-weight: 400;
                    margin-bottom: 34px;
                }
            }

            & img {
                opacity: 0.6;
            }
        }

        .task, .process, .service {
            margin-top: 160px;

            .task_wrap, .process_wrap, .service_wrap {
                margin-top: 34px;
                display: flex;
                justify-content: space-between;

                .task_item {
                    width: 392px;
                    height: 181px;
                    background: $bgd_box;
                    border-radius: 8px;
                    box-shadow: -1px -1px 0px 0px $red;
                    padding: 20px;

                    & h4 {
                        font-weight: 500;
                        font-size: $fs18;
                        color: $white;
                        margin-bottom: 5px;
                    }

                    & p {
                        font-weight: 400;
                    }
                }

                .process_item {
                    width: 392px;

                    & h4 {
                        font-weight: 500;
                        font-size: $fs18;
                        color: $white;
                        margin-bottom: 11px;

                        & span {
                            position: relative;
                            bottom: 15px;
                            left: 15px;
                        }
                    }

                    & p {
                        font-weight: 400;
                    }
                }

                @for $num from 1 through 3 {
                    .process_item:nth-child(#{$num}) h4::before {
                        content: url($imagepath + $num + ".svg");
                    }
                }
            }

            .service_title {
                display: flex;
                justify-content: space-between;
            }
        }

        .sliders {
            margin-top: 35px;
        }
    }
}
