@font-face {
  font-family: 'Alice-Regular';
  src: url('Alice-Regular.eot');
  src: url('Alice-Regular.eot?#iefix') format('embedded-opentype'),
       url('Alice-Regular.svg#Alice-Regular') format('svg'),
       url('Alice-Regular.ttf') format('truetype'),
       url('Alice-Regular.woff') format('woff'),
       url('Alice-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

